* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: url('images/background_agregar_animales.jpg') no-repeat center center;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido {
    width: 90%;
    max-width: 900px;
    background: rgba(0, 0, 0, 0.6);
    border: solid 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 15px;
    padding: 40px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 60px;
}

.contenido h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

form {
    display: flex;
    flex-wrap: wrap; /* Permite que los inputs se ajusten automáticamente en filas */
    gap: 15px; /* Espaciado entre los campos */
    justify-content: center; /* Centra los campos */
}

form p {
    flex: 1 1 calc(25% - 15px); /* Cada campo ocupa el 25% del ancho del contenedor menos el gap */
    max-width: calc(25% - 15px); /* Se asegura de que no exceda el 25% */
    margin: 0;
}

form p label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    color: #fff;
    text-align: center;
}

form p input{
    width: 100%; /* Ocupa todo el espacio disponible */
    height: 40px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: #616161;
    color: #fff;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
}

form p select{
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background: transparent;
    color:#fff;
    background: #616161;
    padding-left: 15px;
    padding-right: 15px;
}

form p input:focus,
form p select:focus {
    border-color: #fff;
}

form p.descripcion {
    flex: 1 1 100%; /* Ocupa el 100% del ancho */
    max-width: 100%; /* Asegura que no se limite al 25% */
}

form p textarea {
    padding: 10px 10px;
    width: 100%; /* Asegura que el textarea ocupe todo el ancho */
    height: 100px; /* Ajusta la altura del textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
}

.contenido .btn-submit {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

.btn-submit:hover {
    background-color: #ddd;
}
