*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    background: url('images/background_nav.jpg') no-repeat center center;
    background-size: cover;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    z-index: 10;
}

nav ul {
    display: flex;
    gap: 1.2rem;
    list-style: none;
    height: 32px;
}

ul li {
    display: grid;
    place-content: center;
    margin: 0;
}

.link {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
}

.link:hover{
    color: darkgoldenrod;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    transition: all .5s ease;
}

.link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: darkgoldenrod;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all .5s ease;
    bottom: 0;
    left: 0;
}

.link:hover::before{
    transform: scale(1);
}

/* Contenedor del formulario */
.search-container {
    position: relative; /* Permite posicionar elementos dentro */
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Ajusta el tamaño del input */
    margin: 0 auto; /* Centrar el formulario */
    left: 60%;
}

/* Estilo del input */
.search-input {
    width: 100%;
    padding: 10px 40px 10px 15px; /* Espaciado interno: reserva espacio para el ícono */
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    outline: none;
    font-size: 16px;
    height: 30px;

}

/* Botón con el ícono */
.search-button {
    position: absolute;
    right: 10px; /* Ubica el ícono a la derecha dentro del input */
    background: none; /* Sin fondo */
    border: none; /* Sin borde */
    color: #555; /* Color del ícono */
    font-size: 18px; /* Tamaño del ícono */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    padding: 5px;
    outline: none;
    transition: color 0.3s ease; /* Efecto de transición en el color */
}

.search-button:hover {
    color: black;
}

/* boton desplegable */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: auto;
    margin-right: 22px;
}

/* Estilo para clase admin_link */
.dropdown .admin_link,
.dropdown-list .admin_link{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* ========================== CONTENEDOR DE LOS LINKS  ========================== */
.dropdown-content {
    display: none; /* Ocultar el menú por defecto */
    position: absolute;
    background-color: #252440;
    min-width: 160px;
    max-height: 300px; 
    overflow-y: auto; /* Habilita el scroll si hay demasiados elementos */
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    left: 50%; /* Posiciona el menú horizontalmente en el centro del botón */
    transform: translateX(-50%); /* Ajusta para centrar menu desplegable */
}
/* ========================== CONTENEDOR DE LOS LINKS END ========================== */

.dropdown-content a {
    color: white;
    padding: 12px 16px; /* Espaciado interno de los elementos con respecto a su contenedor*/
    text-decoration: none;
    display: block; /* Hace que los elementos a se separen de una mejor forma, con la ayuda de padding*/
}

.dropdown-content a:hover {
    background-color: #2d2c45;
}

/* Mostrar el menú cuando el botón es clicado */
.dropdown:hover .dropdown-content,
.dropdown-list:hover .dropdown-content {
    display: block;
}

/* Mostrar el menú cuando el botón es clicado */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-list:hover .dropdown-content {
    display: block;
}

.dropdown {
    margin-right: 42px;
}

.dropdown-list{
    margin-right: 69px;
    position: relative;
}

@media (max-width: 768px) {
    .dropdown-content {
        min-width: 200px; /* Ajustar ancho para pantallas pequeñas */
    }
}

.admin_cuentas{
    position: relative;
    display: inline-block;
    margin-left: auto;
}

.admin_cuentas a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_cuentas{
    display: none; /* Ocultar el menú por defecto */
    position: absolute;
    background-color: #252440;
    min-width: 160px;
    max-height: 300px; 
    overflow-y: auto; /* Habilita el scroll si hay demasiados elementos */
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
    left: 50%; /* Posiciona el menú horizontalmente en el centro del botón */
    transform: translateX(-50%); /* Ajusta para centrar menu desplegable */
}

.admin_cuentas:hover  .dropdown_cuentas{
    display: block;
}