* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: url('images/Background_home.jpg') no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding-top: 70px;
}

.saludo{
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    color: #fff;
}

.contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; /* Espaciado entre las columnas */
    width: 80%;
    margin: 0 auto; /* Centrar el grid dentro del contenedor */
}

.informacion,
.especies_animales {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    /* background: transparent; */
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}

.informacion, .especies_animales, h2{
    margin-bottom: 10px;
}

.informacion, .especies_animales p{
    font-family: 'Calibri';
    line-height: 30px; 
}

.mensajes_login{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.banner {
    position: relative;
    width: 80%; /* Para que ocupe todo el ancho de la pantalla */
    height: 40vh; /* Altura del banner */
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    margin: 0; /* Eliminar márgenes para un diseño más limpio */
    bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* La imagen se ajusta para cubrir todo el contenedor sin deformarse */
}

.banner a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar el texto tanto horizontal como verticalmente */
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 30px;
    border-radius: 10px; /* Bordes redondeados para un mejor diseño */
    font-size: 20px;
    text-align: center;
    font-family: 'Calibri';
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .banner {
        height: 30vh; /* Reducir la altura en pantallas más pequeñas */
    }

    .banner a {
        font-size: 18px; /* Ajustar el tamaño del texto */
        padding: 10px 20px;
    }
}


@media screen and (max-width:768px){
    .contenido{
        display: grid;
        grid-template-columns: 1fr;
    }
    
}