*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    position: relative;
}

body{
    background: url('images/background_listar_animales.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Capa ahumada */
    z-index: -1;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
    background: #fff;
}
  
  table th, table td {
    border: 1px solid black;
    padding: 8px;
}
  
  table th {
    background-color: #009975;
    color: #fff;
}

table .btn-eliminar{
    background: #dc3545;
    height: 30px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

table .btn-agregar{
    background: #28a745;
    height: 30px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

table .btn-editar{
    background: #0770e0;
    height: 30px;
    width: 130px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

table .btn-agregar, .btn-eliminar, .btn-editar{
    color: #fff;
}

.btn-agregar:hover{
    background: #228b3b;
    transition: all 0.3s ease;
}

table .btn-eliminar:hover{
    background: #DB142C;
    transition: all 0.3s ease;

}

table .btn-editar:hover{
    background: #0056b3;
    transition: all 0.3s ease;
}

.contenido h2{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-top: 65px;
    color: #fff;
}

table {
    min-width: 1000px; /* Ajusta este valor al ancho mínimo necesario */
}

.contenido {
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    width: 95%;
}

.descripcion{
    max-width: 300px; /* Limita el ancho de la celda */
    max-height: 90px; /* 3 líneas de 30px cada una */
    overflow-y: auto; /* Habilita el desplazamiento vertical */
    overflow-x: hidden; /* Oculta el desplazamiento horizontal */
    line-height: 30px; /* Altura de línea */
    display: block; /* Asegura que se comporte como un bloque */
    white-space: normal;
    padding: 4px; 
    background-color: #f9f9f9;
}