/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Contenido principal */
.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* Cartas individuales */
.carta {
    position: relative;
    height: 100%;
    width: 100%;
}

.carta img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carta h2,
.carta .descripcion {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    text-align: justify;
}

.carta h2 {
    top: 10%;
    font-size: 2.5rem;
}

.carta .descripcion {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
    bottom: 20%;
    font-size: 1.2rem;
    max-width: 80%;
    background: rgba(0, 0, 0, 0.8);
    padding: 15px;
    color: white;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    font-family: 'Calibri';
}

/* Controles de paginación */
.pagination {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.pagination .btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}

.pagination .btn:hover {
    background-color: white;
    color: black;
}

.pagination .pagina {
    font-size: 1rem;
    color: #fff;
    font-weight: bold;
}

