*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: url('images/background_registrarse.jpg') no-repeat center center;
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.contenido{
    width: 420px;
    background: transparent;
    border: solid 2px rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px); 
    color: #fff;
    border-radius: 15px;
    padding: 40px 30px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    margin-top: 60px;
}

form p {
    display: flex;
    flex-direction: column; /* Coloca el label encima del input */
    margin-bottom: 20px; /* Proporciona espacio entre un elemento y otro que este abajo de el*/
    min-height: 12px;
    color: white;
  }

form p label{
    text-align: center;
}

form p input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4); 
    border-radius: 25px;
    padding-left: 15px; /* Espacio para el texto */
    padding-right: 15px;
    font-size: 16px;
    color: #fff;
}

.contenido h2{
    text-align: center;
    font-size: 36px; 
    margin-top: 12px; /* Define el espacio entre la parte superior del elemento y el elemento que está encima de él */
    margin-bottom: 20px; /* Define el espacio entre la parte inferior del elemento y el elemento que está debajo de él */
    color: white;
}

.contenido .btn-submit {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.contenido .btn-submit:hover {
    background-color: #ddd;
}