{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "agregar_animales.css" %}">
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>

<div class="container">
    <div class="contenido">
        <h2>Agregar Animales</h2>
        <form action="{% url 'agregar_animales' %}" method="POST">
            {% csrf_token %}
            <p>{{ form.id_continente.label_tag }}{{ form.id_continente }}</p>
            <p>{{ form.id_pais.label_tag }}{{ form.id_pais }}</p>
            <p>{{ form.id_tipo_animal.label_tag }}{{ form.id_tipo_animal }}</p>
            <p>{{ form.id_subcategoria_animal.label_tag }}{{ form.id_subcategoria_animal }}</p>
            <p>{{ form.id_especie.label_tag }}{{ form.id_especie }}</p>
            <p>{{ form.id_habitat.label_tag }}{{ form.id_habitat }}</p>
            <p>{{ form.id_sexo.label_tag }}{{ form.id_sexo }}</p>
            <p>{{ form.id_estado_salud.label_tag }}{{ form.id_estado_salud }}</p>
            <p>{{ form.id_zona.label_tag }}{{ form.id_zona }}</p>
            <p>{{ form.id_fuente_origen.label_tag }}{{ form.id_fuente_origen }}</p>
            <p>{{ form.fecha_nacimiento.label_tag }}{{ form.fecha_nacimiento }}</p>
            <button type="submit" class="btn-submit">Agregar</button>
        </form>
        
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock content %}