{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "agregar_continentes.css" %}">
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>

<div class="container">
    <div class="contenido">
        <h2>Agregar Continentes</h2>
        <form action="{% url "agregar_continentes" %}" method ='POST'>
            {% csrf_token %}
            {{form.as_p}}
            <button type="submit" class="btn-submit">Agregar</button>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock content %}