{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATURE ZOO</title>
    <!-- ================================== FAVICON ================================== -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpeg' %}">
    <!-- ================================== CSS ================================== -->
     <link rel="stylesheet" href="{% static "base.css" %}">
     <!-- ================================= ICONO ================================== --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "home" %}" class="link">Home</a></li>
            <li><a href="#" class="link">Habitats</a></li>
            <li><a href="#" class="link">Especies</a></li>
            <li><a href="{% url "registro" %}" class="link">Registro</a></li>
            <li><a href="{% url "login" %}" class="link">Login</a></li>
        </ul>


        <!-- =============================== BARRA DE BUSQUEDA =============================== -->
        <form action="#" method="get" class="search-form">
            <div class="search-container">
                <input type="text" name="q" class="search-input" placeholder="Search">
                <!-- Ícono dentro del input -->
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        <div class="dropdown">
            <a class="admin_link">Agregar</a>
            <div class="dropdown-content">
                <a href="{% url "agregar_alimentacion" %}">Agregar Tipo Alimentación</a>
                <a href="#">add</a>
                <a href="#">add</a>
                <a href="#">add</a>
            </div>
        </div>

        <div class="dropdown-list">
            <a class="admin_link">Listados</a>
            <div class="dropdown-content">
                <a href="{% url "listar_alimentacion" %}">Listar Tipo Alimentación</a>
                <a href="#">list</a>
                <a href="#">list</a>
            </div>
        </div>

    </nav>


    {% block content %}
    {% endblock content %}
</body>
</html>