{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATURE ZOO</title>
    <!-- ================================== FAVICON ================================== -->
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpeg' %}">
    <!-- ================================== CSS ================================== -->
     <link rel="stylesheet" href="{% static "base.css" %}">
     <!-- ================================= ICONO ================================== --> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet">

</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url "home" %}" class="link">Home</a></li>
            <li><a href="{% url "presentacion_habitats" %}" class="link">Habitats</a></li>
            <li><a href="{% url "presentar_especies" %}" class="link">Especies</a></li>

            {% if user.is_visitante or user.is_admin or user.is_superadmin%}
            <li><a href="{% url "comprar_entradas" %}" class="link">Comprar entradas</a></li>
            {% endif %}

            {% if not user.is_authenticated %}
            <li><a href="{% url "registro" %}" class="link">Registro</a></li>
            <li><a href="{% url "login" %}" class="link">Login</a></li>
            {% else %}
            <!-- IF user es authenticated -->
            <!-- IF user es authenticated y es admin o superadmin mostrar link cuentas -->
            {% if user.is_admin or user.is_superadmin %}
            <li><a href="{% url "cuentas" %}" class="link">Cuentas</a></li>
            {% endif %} <!-- ENDIF user es authenticated y es admin o superadmin mostrar link cuentas -->
            <!-- IF user es authenticated mostrar LOGOUT-->
            <li><a href="{% url "logout" %}" class="link">Logout</a></li>
            {% endif %}
        </ul>


        <!-- =============================== BARRA DE BUSQUEDA =============================== -->
        <form action="{% url "search" %}" method="get" class="search-form">
            <div class="search-container">
                <input type="text" name="q" class="search-input" placeholder="Search">
                <!-- Ícono dentro del input -->
                <button type="submit" class="search-button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>

        {% if user.is_authenticated %}
        {% if user.is_admin or user.is_superadmin %}
        <div class="dropdown">
            <a class="admin_link">Agregar</a>
            <div class="dropdown-content">
                <a href="{% url "agregar_animales" %}">Agregar Animales</a>
                <a href="{% url "agregar_continentes" %}">Agregar Continentes</a>
                <a href="{% url "agregar_pais" %}">Agregar Paises</a>
                <a href="{% url "agregar_tipo_entidad" %}">Agregar Tipos de Entidades</a>
                <a href="{% url "agregar_tipo_proveedor" %}">Agregar Tipos de Proveedor</a>
                <a href="{% url "agregar_tipo_empleado" %}">Agregar Tipos de Empleados</a>
                <a href="{% url "agregar_tipo_suministro" %}">Agregar Tipos de Suministros</a>
                <a href="{% url "agregar_metodo_pago" %}">Agregar Metodos de Pago</a>
                <a href="{% url "agregar_tipo_entrada" %}">Agregar Tipos de Entradas</a>
                <a href="{% url "agregar_sexo" %}">Agregar Sexo</a>
                <a href="{% url "agregar_alimentacion" %}">Agregar Tipos de Alimentación</a>
                <a href="{% url "agregar_habitats" %}">Agregar Habitats</a>
                <a href="{% url "agregar_especies" %}">Agregar Especies</a>
                <a href="{% url "agregar_tipo_animal" %}">Agregar Tipos de Animales</a>
                <a href="{% url "agregar_sub_categoria" %}">Agregar Subcategorías</a>
                <a href="{% url "agregar_estado_salud" %}">Agregar Estados de Salud</a>
                <a href="{% url "agregar_fuente_origen" %}">Agregar Fuentes de Origen</a>
                <a href="{% url "agregar_tipo_zona" %}">Agregar Tipos de Zonas</a>
                <a href="{% url "agregar_zona" %}">Agregar Zonas</a>
                <a href="{% url "agregar_proveedor" %}">Agregar Proveedores</a>
                <a href="{% url "agregar_suministro" %}">Agregar Suministros</a>
                <a href="{% url "agregar_empleado" %}">Agregar Empleados</a>
                <a href="{% url "agregar_entrada" %}">Agregar Entradas</a>
                <a href="{% url "agregar_visitante" %}">Agregar Visitante</a>
                <a href="{% url "agregar_venta" %}">Agregar Venta</a>
            </div>
        </div>

        <div class="dropdown-list">
            <a class="admin_link">Listados</a>
            <div class="dropdown-content">
                <a href="{% url "listar_animales" %}">Listar Animales</a>
                <a href="{% url "listar_continentes" %}">Listar Continentes</a>
                <a href="{% url "listar_paises" %}">Listar Paises</a>
                <a href="{% url "listar_tipo_entidad" %}">Listar Tipos de Entidades</a>
                <a href="{% url "listar_tipo_proveedor" %}">Listar Tipos de Proveedor</a>
                <a href="{% url "listar_tipo_empleado" %}">Listar Tipos de Empleados</a>
                <a href="{% url "listar_tipo_suministro" %}">Listar Tipos de Suministros</a>
                <a href="{% url "listar_metodos_pago" %}">Listar Metodos de Pago</a>
                <a href="{% url "listar_tipo_entrada" %}">Listar Tipos de Entradas</a>
                <a href="{% url "listar_sexos" %}">Listar Sexos</a>
                <a href="{% url "listar_alimentacion" %}">Listar Tipos de Alimentación</a>
                <a href="{% url "listar_habitats" %}">Listar Habitas</a>
                <a href="{% url "listar_especies" %}">Listar Especies</a>
                <a href="{% url "listar_tipo_animal" %}">Listar Tipos de Animales</a>
                <a href="{% url "listar_sub_categorias" %}">Listar Subcategorías</a>
                <a href="{% url "listar_estados_salud" %}">Listar Estados de Salud</a>
                <a href="{% url "listar_fuentes_origen" %}">Listar Fuentes de Origen</a>
                <a href="{% url "listar_tipos_zonas" %}">Listar Tipos de Zonas</a>
                <a href="{% url "listar_zonas" %}">Listar Zonas</a>
                <a href="{% url "listar_proveedores" %}">Listar Proveedores</a>
                <a href="{% url "listar_suministros" %}">Listar Suministros</a>
                <a href="{% url "listar_empleados" %}">Listar Empleados</a>
                <a href="{% url "listar_entradas" %}">Listar Entradas</a>
                <a href="{% url "listar_visitantes" %}">Listar Visitantes</a>
                <a href="{% url "listar_ventas" %}">Listar Ventas</a>
            </div>
        </div>
        <!--  END IF de user.is_admin or user.is_superadmin-->
        {% endif %}
        {% if user.is_veterinario %}
        <div class="profiles">
            <a class="admin_link">Veterinarios</a>
            <div class="dropdown_profiles">
                <a href="{% url "agregar_alimentacion" %}" class="{% if request.path == '/Tipo_alimentación/tipo_alimentación/' %}active_menu{% endif %}">Agregar Tipos de Alimentación</a>
                <a href="{% url "agregar_estado_salud" %}" class="{% if request.path == '/Estado_salud/agregar_estado_salud/' %}active_menu{% endif %}">Agregar Estados de Salud</a>
                <a href="{% url "listar_estados_salud" %}" class="{% if request.path == '/Estado_salud/listar_estado_salud/' %}active_menu{% endif %}">Listar Estados de Salud</a>
                <a href="{% url "listar_alimentacion" %}" class="{% if request.path == '/Tipo_alimentación/listar_tipo_alimentación/' %}active_menu{% endif %}">Listar Tipos de Alimentación</a>
                <a href="{% url "listar_animales" %}" class="{% if request.path == '/Animales/listar_animales/' %}active_menu{% endif %}">Listar Animales</a>
                <a href="{% url "listar_especies" %}" class="{% if request.path == '/Especies/listar_especies/' %}active_menu{% endif %}">Listar Especies</a>
                <a href="{% url "listar_habitats" %}" class="{% if request.path == '/Habitats/listar_habitats/' %}active_menu{% endif %}">Listar Habitas</a>
            </div>
        {% endif %} <!--  END IF de user.is_veterinario-->

        {% if user.is_cuidador %}
        <div class="profiles">
            <a class="admin_link">Cuidadores</a>
            <div class="dropdown_profiles">
                <a href="{% url "listar_alimentacion" %}" class="{% if request.path == '/Tipo_alimentación/listar_tipo_alimentación/' %}active_menu{% endif %}">Listar Tipos de Alimentación</a>
                <a href="{% url "listar_animales" %}" class="{% if request.path == '/Animales/listar_animales/' %}active_menu{% endif %}">Listar Animales</a>
                <a href="{% url "listar_especies" %}" class="{% if request.path == '/Especies/listar_especies/' %}active_menu{% endif %}">Listar Especies</a>
                <a href="{% url "listar_habitats" %}" class="{% if request.path == '/Habitats/listar_habitats/' %}active_menu{% endif %}">Listar Habitas</a>
                <a href="{% url "listar_suministros" %}" class="{% if request.path == '/Suministros/listar_suministros/' %}active_menu{% endif %}">Listar Suministros</a>
                <a href="{% url "listar_zonas" %}" class="{% if request.path == '/Zonas/listar_zona/' %}active_menu{% endif %}">Listar Zonas</a>
            </div>
        {% endif %}

        {% if user.is_especialista_conservacion %}
        <div class="profiles">
            <a class="admin_link">Esp.Conservación</a>
            <div class="dropdown_profiles">
                <a href="{% url "listar_animales" %}" class="{% if request.path == '/Animales/listar_animales/' %}active_menu{% endif %}">Listar Animales</a>
                <a href="{% url "listar_especies" %}" class="{% if request.path == '/Especies/listar_especies/' %}active_menu{% endif %}">Listar Especies</a>
                <a href="{% url "listar_habitats" %}" class="{% if request.path == '/Habitats/listar_habitats/' %}active_menu{% endif %}">Listar Habitas</a>
                <a href="{% url "listar_fuentes_origen" %}" class="{% if request.path == '/Fuentes_origen/listar_fuentes_origen/' %}active_menu{% endif %}">Listar Fuentes de Origen</a>
                <a href="{% url "listar_estados_salud" %}" class="{% if request.path == '/Estado_salud/listar_estado_salud/' %}active_menu{% endif %}">Listar Estados de Salud</a>
            </div>
            {% endif %}

        
        {% endif %} <!--  END IF de user.is_authenticated-->

        {% if user.is_visitante %}
        <a href="{% url "carrito" %}"class="ticket">
            <div class="icon">
                <i class="fas fa-ticket-alt"></i>
            </div>
            <span class="carrito-notificacion">{{carrito_contador}}</span>
        </a>
        {% endif %}
    </nav>


    {% block content %}
    {% endblock content %}
</body>
</html>