{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "listar_entrada.css" %}">
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>

<div class="container">
    <div class="contenido">
        <h2>Entradas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo de Entrada</th>
                <th>Precio</th>
                <th>Comprar</th>
            </tr>
        </thead>
        <tbody>
            {% for entrada in entradas %}
                <tr>
                    <td>{{ entrada.id_entrada}}</td>
                    <td>{{ entrada.id_tipo_entrada}}</td>
                    <td>{{ entrada.precio_formateado}}</td>
                    <td>
                        <form action="{% url 'agregar_carrito' entrada.id_entrada %}" method="get">
                            <button class="btn-agregar">Comprar</button>
                        </form>
                    </td>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
{% endif %}

</div>
    </div>

{% endblock content %}