{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>
<link rel="stylesheet" href="{% static "editar_cuenta.css" %}">

<div class="container">
    <div class="contenido">
        <h2>Editar Cuenta</h2>
        <form method="POST">
            {% csrf_token %}
            <p>{{ form.nombre.label_tag }}{{ form.nombre }}</p>
            <p>{{ form.apellido_paterno.label_tag }}{{ form.apellido_paterno }}</p>
            <p>{{ form.apellido_materno.label_tag }}{{ form.apellido_materno }}</p>
            <p>{{ form.email.label_tag }}{{ form.email }}</p>
            <p>{{ form.numero_telefono.label_tag }}{{ form.numero_telefono }}</p>
            <p>{{ form.usuario.label_tag }}{{ form.usuario }}</p>
            <p>{{ form.is_admin.label_tag }}{{ form.is_admin }}</p>
            <p>{{ form.is_visitante.label_tag }}{{ form.is_visitante }}</p>
            <p>{{ form.is_veterinario.label_tag }}{{ form.is_veterinario }}</p>
            <p>{{ form.is_cuidador.label_tag }}{{ form.is_cuidador }}</p>
            <p>{{ form.is_especialista_conservacion.label_tag }}{{ form.is_especialista_conservacion }}</p>
            <p>{{ form.is_active.label_tag }}{{ form.is_active }}</p>
            <p>{{ form.is_superadmin.label_tag }}{{ form.is_superadmin }}</p>
            <div class="acciones">
                <button type="submit" class="guardar">Guardar cambios</button>
                <a href="{% url 'cuentas' %}" class="Cancelar">Cancelar</a>
            </div>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock content %}
