{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static "home.css" %}">

<div class="container">
    <div class="saludo">
        <h2>Bienvenido a Nature Zoo</h2>
    </div>
    <div class="contenido">
        <div class="informacion">
            <h2>¿Que hacemos?</h2>
            <p>Nature Zoo principalmente es un refugio para animales los cuales fueron rescatados del trafico ilegal y animales que por alguna lesión o daño genetico no puedan sobrevivir en su habitat natural </p>
        </div>

        <div class="especies_animales">
            <h2>Especies y animales</h2>
            <p>Actualmente tenemos: 0 especies </p>
            <p>Actualmente tenemos: 0 animales </p>
        </div>

        <div class="informacion">
            <h2>¿Como aportas al visitarnos?</h2>
            <p>Al comprar tus entradas nos ayudas economicamente, tu dinero lo usaremos para comprar comida y medicamentos para nuestros ejemplares, ademas, este aporte economico nos ayuda a adquirir los insumos para el mantenimiento de este recito, lo cual incluye la limpieza de los habitats de los animales. </p>
        </div>
    </div>
</div>


{% endblock content %}