{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "listar_estado_salud.css" %}">
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>

<div class="container">
    <div class="contenido">
        <h2>Estados de Salud</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de estado de salud</th>
                <th>Descripción de estado de salud</th>
                <th>Agregar</th>
                {% if user.is_superadmin or user.is_admin %}
                <th>Eliminar</th>
                {% endif %}
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for estado in estados %}
                <tr>
                    <td>{{ estado.id_estado_salud}}</td>
                    <td>{{ estado.nombre_estado_salud}}</td>
                    <td>
                        <div class="descripcion">
                            {{ estado.descripcion}}
                        </div>
                    </td>
                    <td>
                        <form action="{% url "agregar_estado_salud" %}">
                            <button class="btn-agregar">Agregar</button>
                        </form>
                    </td>
                    {% if user.is_superadmin or user.is_admin %}
                    <td>
                        <form action="{% url "eliminar_estado_salud" estado.id_estado_salud%}" method = 'POST'>
                            {% csrf_token %}
                            <button class="btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                    {% endif %}
                    <td>
                        <form action="{% url "editar_estado_salud" estado.nombre_estado_salud %}">
                            {% csrf_token %}
                            <button class="btn-editar">Editar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
{% endif %}

</div>
    </div>

{% endblock content %}