{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static "listar_habitats.css" %}">
<link rel="stylesheet" href="{% static "alert.css" %}">
<script src="{% static "js/alert.js" %}"></script>

<div class="container">
    <div class="contenido">
        <h2>Habitats</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre de Habitat</th>
                <th>Imagen del Habitat</th>
                <th>Agregar</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            {% for habitat in habitats %}
                <tr>
                    <td>{{ habitat.id_habitat }}</td>
                    <td>{{ habitat.nombre_habitat}}</td>
                    <td>
                        <img src="{{ habitat.imagen.url }}" class="imagen_habitat">
                    </td>
                    <td>
                        <button class="btn-agregar" onclick="window.location.href={% url "agregar_habitats" %}">Agregar</button>
                    </td>
                    <td>
                        <form action="{% url "eliminar_habitat" habitat.id_habitat%}" method = 'POST'>
                            {% csrf_token %}
                            <button class="btn-eliminar">Eliminar</button>
                        </form>
                    </td>
                    <td>
                        <form action="{% url "editar_habitat" habitat.nombre_habitat %}">
                            {% csrf_token %}
                            <button class="btn-editar">Editar</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> X </button>
        </div>
    {% endfor %}
{% endif %}

</div>
    </div>

{% endblock content %}